.user-list {
  list-style: none;
  padding: 0;
  max-width: 400px;
  margin: 0 auto;
}

.user-item {
  background-color: #e7f1ff;
  padding: 10px;
  border: 1px solid #b3d4fc;
  border-radius: 4px;
  margin-bottom: 8px;
  font-family: Arial, sans-serif;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.css-button-3d--rose {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #2dd492;
  box-shadow: 0 5px #61ecb5;
}
.css-button-3d--rose:hover {
  box-shadow: 0 3px #2dd492;
  top: 1px;
}
.css-button-3d--rose:active {
  box-shadow: 0 0 #2dd492;
  top: 5px;
}

.bttn {
 padding: 7px 20px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 600;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

.bttn::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: #212121;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

.bttn:hover {
 color: #e8e8e8;
}

.bttn:hover::before {
 width: 100%;
}

.chk {
  background: #2dd492;
  height: 35px;
  width: 100%;
}

.bbtn {
  border-radius: 10px;
  margin-top: 2px;
}